In [1]:
# !pip install yfinance
# !pip install --upgrade pandas_datareader

In [7]:
import yfinance as yf
from pandas_datareader.data import DataReader
from pandas_datareader import data as pdr

In [3]:
data = yf.download("AAPL", "2017-01-01", "2022-01-01")
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.095842  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.065523   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.203156   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.506428  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.758379  134247600

In [5]:
yf.pdr_override()

In [9]:
# data = DataReader(name="AAPL", data_source='yahoo', start="2017-01-01", end="2022-01-01")
spy = pdr.get_data_yahoo('ETH-USD', start='2022-10-24', end='2022-12-23')
spy.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-24,1363.491821,1368.425537,1327.854004,1344.998535,1344.998535,13092820173
2022-10-25,1344.711304,1509.985474,1336.978882,1461.665405,1461.665405,25367291294
2022-10-26,1461.133179,1584.636719,1460.428711,1566.566650,1566.566650,32705548427
2022-10-27,1566.841431,1574.403442,1510.816772,1514.374878,1514.374878,22813499245
2022-10-28,1514.323120,1568.633911,1493.871094,1555.477905,1555.477905,19974623205

In [ ]:
import pandas as pd
import numpy as np
from pandas_datareader.data import DataReader
import matplotlib as plt

In [12]:
start_date = '2017-01-01'
end_date= '2022-06-01'
symbol = 'ETH-USD'
# df = DataReader(name=symbol, data_source='yahoo', start=start_date, end=end_date)
df = pdr.get_data_yahoo('ETH-USD', start='2022-10-24', end='2022-12-23')
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-24,1363.491821,1368.425537,1327.854004,1344.998535,1344.998535,13092820173
2022-10-25,1344.711304,1509.985474,1336.978882,1461.665405,1461.665405,25367291294
2022-10-26,1461.133179,1584.636719,1460.428711,1566.566650,1566.566650,32705548427
2022-10-27,1566.841431,1574.403442,1510.816772,1514.374878,1514.374878,22813499245
2022-10-28,1514.323120,1568.633911,1493.871094,1555.477905,1555.477905,19974623205

In [13]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,60.000000,60.000000,60.000000,60.000000,60.000000,6.000000e+01
mean,1312.829862,1345.195968,1279.182959,1310.447439,1310.447439,1.194602e+10
std,151.957373,159.411789,149.292063,152.326255,152.326255,8.575002e+09
min,1100.107178,1136.442627,1081.138184,1100.169800,1100.169800,3.282500e+09
25%,1210.637909,1224.747437,1179.892090,1210.699707,1210.699707,5.740700e+09
50%,1265.396667,1285.223694,1240.060059,1264.076660,1264.076660,9.678688e+09
75%,1349.406433,1403.815521,1311.338531,1335.876312,1335.876312,1.431309e+10
max,1645.156494,1661.334717,1625.964233,1645.093384,1645.093384,4.204800e+10

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 60 entries, 2022-10-24 to 2022-12-22
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       60 non-null     float64
 1   High       60 non-null     float64
 2   Low        60 non-null     float64
 3   Close      60 non-null     float64
 4   Adj Close  60 non-null     float64
 5   Volume     60 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 3.3 KB

# Working with Returns

In [16]:
df["Returns"] = df["Close"].pct_change()
df.head()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
2022-10-24,1363.491821,1368.425537,1327.854004,1344.998535,1344.998535,13092820173,NaN
2022-10-25,1344.711304,1509.985474,1336.978882,1461.665405,1461.665405,25367291294,0.086741
2022-10-26,1461.133179,1584.636719,1460.428711,1566.566650,1566.566650,32705548427,0.071768
2022-10-27,1566.841431,1574.403442,1510.816772,1514.374878,1514.374878,22813499245,-0.033316
2022-10-28,1514.323120,1568.633911,1493.871094,1555.477905,1555.477905,19974623205,0.027142

# Drop NA

In [17]:
df.dropna(inplace=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
2022-10-25,1344.711304,1509.985474,1336.978882,1461.665405,1461.665405,25367291294,0.086741
2022-10-26,1461.133179,1584.636719,1460.428711,1566.566650,1566.566650,32705548427,0.071768
2022-10-27,1566.841431,1574.403442,1510.816772,1514.374878,1514.374878,22813499245,-0.033316
2022-10-28,1514.323120,1568.633911,1493.871094,1555.477905,1555.477905,19974623205,0.027142
2022-10-29,1555.274658,1652.382202,1549.983643,1619.698486,1619.698486,21618154775,0.041287

# Calculate Log Returns

In [20]:
import numpy as np
df["lrets"] = np.log(df["Close"] / df["Close"].shift(1))
df.head()

,Open,High,Low,Close,Adj Close,Volume,Returns,lrets
Date,,,,,,,,
2022-10-25,1344.711304,1509.985474,1336.978882,1461.665405,1461.665405,25367291294,0.086741,NaN
2022-10-26,1461.133179,1584.636719,1460.428711,1566.566650,1566.566650,32705548427,0.071768,0.069310
2022-10-27,1566.841431,1574.403442,1510.816772,1514.374878,1514.374878,22813499245,-0.033316,-0.033884
2022-10-28,1514.323120,1568.633911,1493.871094,1555.477905,1555.477905,19974623205,0.027142,0.026780
2022-10-29,1555.274658,1652.382202,1549.983643,1619.698486,1619.698486,21618154775,0.041287,0.040457

In [21]:
df["lrets_cumsum"] = df["lrets"].cumsum()

# Normalise Log Retruns

In [22]:
df["rets_normal"] = np.exp(df["lrets_cumsum"]) - 1
df.head()

,Open,High,Low,Close,Adj Close,Volume,Returns,lrets,lrets_cumsum,rets_normal
Date,,,,,,,,,,
2022-10-25,1344.711304,1509.985474,1336.978882,1461.665405,1461.665405,25367291294,0.086741,NaN,NaN,NaN
2022-10-26,1461.133179,1584.636719,1460.428711,1566.566650,1566.566650,32705548427,0.071768,0.069310,0.069310,0.071768
2022-10-27,1566.841431,1574.403442,1510.816772,1514.374878,1514.374878,22813499245,-0.033316,-0.033884,0.035426,0.036061
2022-10-28,1514.323120,1568.633911,1493.871094,1555.477905,1555.477905,19974623205,0.027142,0.026780,0.062206,0.064182
2022-10-29,1555.274658,1652.382202,1549.983643,1619.698486,1619.698486,21618154775,0.041287,0.040457,0.102664,0.108119

In [23]:
df.fillna(0, inplace=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume,Returns,lrets,lrets_cumsum,rets_normal
Date,,,,,,,,,,
2022-10-25,1344.711304,1509.985474,1336.978882,1461.665405,1461.665405,25367291294,0.086741,0.000000,0.000000,0.000000
2022-10-26,1461.133179,1584.636719,1460.428711,1566.566650,1566.566650,32705548427,0.071768,0.069310,0.069310,0.071768
2022-10-27,1566.841431,1574.403442,1510.816772,1514.374878,1514.374878,22813499245,-0.033316,-0.033884,0.035426,0.036061
2022-10-28,1514.323120,1568.633911,1493.871094,1555.477905,1555.477905,19974623205,0.027142,0.026780,0.062206,0.064182
2022-10-29,1555.274658,1652.382202,1549.983643,1619.698486,1619.698486,21618154775,0.041287,0.040457,0.102664,0.108119

# StructureChanges

In [24]:
# Create a new copy
df_new = df.copy()

In [25]:
#Drop colymn
df_new.drop(columns=["High", "Low", "Adj Close"], inplace=True)

In [27]:
# Work with certain rows and columns
df_new.iloc[1:3, 2:-1]

                 Volume   Returns     lrets  lrets_cumsum
Date
2022-10-26  32705548427  0.071768  0.069310      0.069310
2022-10-27  22813499245 -0.033316 -0.033884      0.035426

# Conditionals

In [30]:
df_new.loc[df["Close"].shift(-1) > df["Close"], "TARGET"] = 1
df_new.loc[df["Close"].shift(-1) <= df["Close"], "TARGET"] = -1
df_new.head()

,Open,Close,Volume,Returns,lrets,lrets_cumsum,rets_normal,TARGET
Date,,,,,,,,
2022-10-25,1344.711304,1461.665405,25367291294,0.086741,0.000000,0.000000,0.000000,1.0
2022-10-26,1461.133179,1566.566650,32705548427,0.071768,0.069310,0.069310,0.071768,-1.0
2022-10-27,1566.841431,1514.374878,22813499245,-0.033316,-0.033884,0.035426,0.036061,1.0
2022-10-28,1514.323120,1555.477905,19974623205,0.027142,0.026780,0.062206,0.064182,1.0
2022-10-29,1555.274658,1619.698486,21618154775,0.041287,0.040457,0.102664,0.108119,-1.0

# Iteration

In [34]:
# Iterate over dataframe
i = 0
for index, row in df_new.iterrows():
    print(index, row["Close"])

2022-10-25 00:00:00 1461.6654052734375
2022-10-26 00:00:00 1566.566650390625
2022-10-27 00:00:00 1514.3748779296875
2022-10-28 00:00:00 1555.4779052734375
2022-10-29 00:00:00 1619.698486328125
2022-10-30 00:00:00 1590.7833251953125
2022-10-31 00:00:00 1572.7144775390625
2022-11-01 00:00:00 1579.70458984375
2022-11-02 00:00:00 1519.7117919921875
2022-11-03 00:00:00 1531.541748046875
2022-11-04 00:00:00 1645.0933837890625
2022-11-05 00:00:00 1627.968017578125
2022-11-06 00:00:00 1572.2347412109375
2022-11-07 00:00:00 1568.59130859375
2022-11-08 00:00:00 1332.8355712890625
2022-11-09 00:00:00 1100.1697998046875
2022-11-10 00:00:00 1299.464599609375
2022-11-11 00:00:00 1287.2210693359375
2022-11-12 00:00:00 1255.268310546875
2022-11-13 00:00:00 1221.8192138671875
2022-11-14 00:00:00 1241.604248046875
2022-11-15 00:00:00 1251.7362060546875
2022-11-16 00:00:00 1215.6025390625
2022-11-17 00:00:00 1200.80859375
2022-11-18 00:00:00 1212.30029296875
2022-11-19 00:00:00 1218.4267578125
2022-11-20 00:00:00 1142.4666748046875
2022-11-21 00:00:00 1108.35302734375
2022-11-22 00:00:00 1135.1734619140625
2022-11-23 00:00:00 1183.1995849609375
2022-11-24 00:00:00 1203.983154296875
2022-11-25 00:00:00 1198.9259033203125
2022-11-26 00:00:00 1205.89794921875
2022-11-27 00:00:00 1195.126953125
2022-11-28 00:00:00 1170.086181640625
2022-11-29 00:00:00 1216.9012451171875
2022-11-30 00:00:00 1295.6885986328125
2022-12-01 00:00:00 1276.27392578125
2022-12-02 00:00:00 1294.3033447265625
2022-12-03 00:00:00 1243.3348388671875
2022-12-04 00:00:00 1280.256591796875
2022-12-05 00:00:00 1259.6767578125
2022-12-06 00:00:00 1271.65380859375
2022-12-07 00:00:00 1232.4375
2022-12-08 00:00:00 1281.1163330078125
2022-12-09 00:00:00 1264.2847900390625
2022-12-10 00:00:00 1266.3841552734375
2022-12-11 00:00:00 1263.8685302734375
2022-12-12 00:00:00 1274.6190185546875
2022-12-13 00:00:00 1320.5491943359375
2022-12-14 00:00:00 1309.3287353515625
2022-12-15 00:00:00 1266.3538818359375
2022-12-16 00:00:00 1168.2593994140625
2022-12-17 00:00:00 1188.1495361328125
2022-12-18 00:00:00 1184.7152099609375
2022-12-19 00:00:00 1167.60986328125
2022-12-20 00:00:00 1217.70361328125
2022-12-21 00:00:00 1213.5999755859375
2022-12-22 00:00:00 1218.18212890625

# Extract Arrays and Vlues from DF

In [36]:
# Get Close prices
df_ex = df_new.copy()
close_prices = df_ex["Close"].values
close_prices

array([1461.66540527, 1566.56665039, 1514.37487793, 1555.47790527,
       1619.69848633, 1590.7833252 , 1572.71447754, 1579.70458984,
       1519.71179199, 1531.54174805, 1645.09338379, 1627.96801758,
       1572.23474121, 1568.59130859, 1332.83557129, 1100.1697998 ,
       1299.46459961, 1287.22106934, 1255.26831055, 1221.81921387,
       1241.60424805, 1251.73620605, 1215.60253906, 1200.80859375,
       1212.30029297, 1218.42675781, 1142.4666748 , 1108.35302734,
       1135.17346191, 1183.19958496, 1203.9831543 , 1198.92590332,
       1205.89794922, 1195.12695312, 1170.08618164, 1216.90124512,
       1295.68859863, 1276.27392578, 1294.30334473, 1243.33483887,
       1280.2565918 , 1259.67675781, 1271.65380859, 1232.4375    ,
       1281.11633301, 1264.28479004, 1266.38415527, 1263.86853027,
       1274.61901855, 1320.54919434, 1309.32873535, 1266.35388184,
       1168.25939941, 1188.14953613, 1184.71520996, 1167.60986328,
       1217.70361328, 1213.59997559, 1218.18212891])

In [37]:
mod_close_prices = close_prices / 2
mod_close_prices[:4]

array([730.83270264, 783.2833252 , 757.18743896, 777.73895264])

In [38]:
df_ex["Model_Close"] = mod_close_prices

In [39]:
price = df_ex["Close"].iloc[1:2].item()

# Multiple Adjustments

In [40]:
# Change CLose, Volum and open 
df_ex[["Open", "Close", "Volumne"]] = df_ex[["Open", "Close", "Volume"]] /df_ex[["Open", "Close", "Volume"]].max()

In [41]:
df_ex.head()

,Open,Close,Volume,Returns,lrets,lrets_cumsum,rets_normal,TARGET,Model_Close,Volumne
Date,,,,,,,,,,
2022-10-25,0.817376,0.888500,25367291294,0.086741,0.000000,0.000000,0.000000,1.0,730.832703,0.603294
2022-10-26,0.888142,0.952266,32705548427,0.071768,0.069310,0.069310,0.071768,-1.0,783.283325,0.777815
2022-10-27,0.952397,0.920540,22813499245,-0.033316,-0.033884,0.035426,0.036061,1.0,757.187439,0.542558
2022-10-28,0.920474,0.945526,19974623205,0.027142,0.026780,0.062206,0.064182,1.0,777.738953,0.475043
2022-10-29,0.945366,0.984563,21618154775,0.041287,0.040457,0.102664,0.108119,-1.0,809.849243,0.514130

# Create Series and dataframe

In [44]:
# Create a Series
import pandas as pd
series_1_list = [1, 3, 8, 4, 3]
series_1 = pd.Series(series_1_list)

In [45]:
df_created = pd.DataFrame(series_1_list, columns=["Series"])

# Save and load dataframe

In [ ]:
# df_ex.to_csv("pandas_test.csv")