In [ ]:
# !pip install yfinance
# !pip install --upgrade pandas_datareader

In [1]:
import yfinance as yf
from pandas_datareader.data import DataReader

In [2]:
data = yf.download("AAPL", "2017-01-01", "2022-01-01")
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.095848  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.065517   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.203161   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.506426  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.758368  134247600

In [4]:
# data = DataReader(name="AAPL", data_source='yahoo', start="2017-01-01", end="2022-01-01")
# data.head()

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader.data import DataReader
import matplotlib as plt

In [2]:
start_date = '2017-01-01'
end_date= '2022-06-01'
symbol = 'ETH-USD'
df = DataReader(name=symbol, data_source='yahoo', start=start_date, end=end_date)
df

TypeError: string indices must be integers, not 'str'