In [1]:
import pandas as pd
import numpy as np

# !pip install pyhhmm
from pyhhmm.gaussian import GaussianHMM
# from hmmlearn.hmm import GaussianHMM
from pandas_datareader import data as pdr
import yfinance as yf
import matplotlib.pyplot as plt

### Structure Data

In [2]:
# Data Extraction

start_date = '2017-01-01'
end_date= '2022-06-01'
symbol = 'SPY'
yf.pdr_override()
# df = DataReader(name=symbol, data_source='yahoo', start=start_date, end=end_date)
df = pdr.get_data_yahoo(symbol, start=start_date, end=end_date)
data = df[["Open", "High", "Low", "Adj Close", "Volume"]]

[*********************100%***********************]  1 of 1 completed

In [4]:
df = data.copy()
df["Returns"] = (df["Adj Close"] / df["Adj Close"].shift(1)) - 1
df["Range"] = (df["High"]/df["Low"]) - 1
df.dropna(inplace=True)
print("Length: ", len(df))
df.head()

Length:  1361

,Open,High,Low,Adj Close,Volume,Returns,Range
Date,,,,,,,
2017-01-04,225.619995,226.750000,225.610001,202.535202,78744400,0.005949,0.005053
2017-01-05,226.270004,226.580002,225.479996,202.374268,78379000,-0.000795,0.004879
2017-01-06,226.529999,227.750000,225.899994,203.098328,71559900,0.003578,0.008189
2017-01-09,226.910004,227.070007,226.419998,202.427933,46939700,-0.003301,0.002871
2017-01-10,226.479996,227.449997,226.009995,202.427933,63771900,0.000000,0.006371

In [6]:
# Add Moving Average
df["MA_12"] = df["Adj Close"].rolling(window=12).mean()
df["MA_21"] = df["Adj Close"].rolling(window=21).mean()

In [7]:
# Structure Data
X_train = df[["Returns", "Range"]].iloc[:500]
X_test = df[["Returns", "Range"]].iloc[500:]
save_df = df.iloc[500:]

### Train HMM

In [10]:
model = GaussianHMM(n_states=4, covariance_type="full", n_emissions=2)
model.train([np.array(X_train.values)])
# model.predict([X_test.values])

f:\anaconda3\envs\statarb\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\anaconda3\envs\statarb\Lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

(<pyhhmm.gaussian.GaussianHMM at 0x25e094b2a90>, 3646.3195296126682)

In [11]:
df_main = save_df.copy()
df_main.drop(columns=["High", "Low"], inplace=True)

In [12]:
hmm_results     = model.predict([X_test.values])[0]
df_main["HMM"]  = hmm_results
df_main.head()

,Open,Adj Close,Volume,Returns,Range,MA_12,MA_21,HMM
Date,,,,,,,,
2018-12-31,249.559998,232.067352,144299400,0.008759,0.010991,231.581402,238.991977,3
2019-01-02,245.979996,232.308762,126925200,0.001040,0.021387,230.525205,238.009935,1
2019-01-03,248.229996,226.765244,144140700,-0.023863,0.020109,229.384014,236.690502,1
2019-01-04,247.589996,234.360916,142628800,0.033496,0.024032,229.268915,235.572308,1
2019-01-07,252.690002,236.208771,103139100,0.007885,0.016926,229.329342,234.939955,3

### Run Backtest

In [ ]:
# Add MA Signals
df_main.loc[df_main["MA_12"] > df_main["MA_21"], "MA_Signal"] = 1
df_main.loc[df_main["MA_12"] <= df_main["MA_21"], "MA_Signal"] = 1